

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    background-color: var(--color3);
    line-height: 1.5;
}

i{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: var(--font-header);
    background-color: var(--color3);
    position: relative;
    z-index: 100; 
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--font-header);
    font-weight: 200px;
    font-style: normal;
    background-color: var(--color3);
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    
    
}

nav a{
    font-family: var(--font-header);
      font-weight: 400;
  font-style: normal;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: var(--color1);
    cursor: pointer;
        background-color: var(--color3);
}

nav a.activo{
    color: var(--color5);
}

nav a:hover{
    color: var(--color4);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color1);
  cursor: pointer;
}

nav.open {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color3);
  width: 100%;
  padding: 1rem;
  z-index: 99;
}



@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

    nav.open {
    display: flex !important;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color3);
    padding: 1rem;
    z-index: 99;
  }

  nav a {
    font-size: 2.5rem;
    padding: 0.5rem 0;
  }
}